# 1st heading
## 2nd heading
### 3rd heading

- This is my first point
- `Files.csv` to highlight
- ***Bold***


---



---

# 1.Print function

#1.String

In [ ]:
print('We are learning Python')

We are learning Python

In [ ]:
print("We are learning Python")

We are learning Python

In [ ]:
print("It's raining outside")

It's raining outside

In [ ]:
print("""         It's raining outside
          it will be better to stay inside
          And we will wait for the bus""")

         It's raining outside
          it will be better to stay inside
          And we will wait for the bus

In [ ]:
Accuracy=90
print("the accuracy of logistic regression is",Accuracy)

the accuracy of logistic regression is 90

In [ ]:
my_string='city name'
type(my_string)

str

##2.Integers

In [ ]:
my_integer=44
print(my_integer)

44

In [ ]:
type(my_integer)

int

##3.Float

In [ ]:
my_float=3.99
print(my_float)

3.99

In [ ]:
type(my_float)

float

##4.Complex (a+bj)

In [ ]:
a=complex(3,4)
print(a)

(3+4j)

In [ ]:
type(a)

complex

In [ ]:
a=3+4j
print(a)
type(a)

(3+4j)

complex

##5.Boolean

In [ ]:
my_bool=True
print(my_bool)
type(my_bool)

True

bool

In [ ]:
my_bool=False
print(my_bool)
type(my_bool)

False

bool

#Different parameters of print function

##1.SEP parameter

In [ ]:
print('we','are','learning','Python')

we are learning Python

In [ ]:
print('we','are','learning','Python', sep='/')

we/are/learning/Python

In [ ]:
print('we','are','learning','Python', sep='-')

we-are-learning-Python

##2.End parameter

In [ ]:
print('Ahmad lives in Pakistan')
print('He is learning data science')

Ahmad lives in Pakistan
He is learning data science

In [ ]:
print('Ahmad lives in Pakistan.',end=' ')
print('He is learning data science')

Ahmad lives in Pakistan. He is learning data science



---



---

# 2.Data types in python

## 1.Basic data types (Already discussed)
1. strings
2. integers
3. floats
4. boolean
5. complex

## 2.Container data types
- Important thing to consider here is that we can store multiple basic data types in each container data types.

##1.List

In [ ]:
my_list=[1,2,3,'strings','False',"4.789",'3+6j']
print(my_list)
type(my_list)

[1, 2, 3, 'strings', 'False', '4.789', '3+6j']

list

##2.Tuples

In [ ]:
my_tuple=(1,2,3,'strings','False',"4.789",'3+6j')
print(my_tuple)
type(my_tuple)

(1, 2, 3, 'strings', 'False', '4.789', '3+6j')

tuple

##3.Sets

In [ ]:
my_sets={1,2,3,'strings','False',"4.789",'3+6j'}
print(my_sets)
type(my_sets)

{'False', 1, 2, 3, '4.789', 'strings', '3+6j'}

set

##4.Dictionary
- It is present in the form of **key value base pairs**

In [ ]:
my_dictionary= {'name':'Ahmad','Age':'24','education':'Masters'}
print(my_dictionary)
type(my_dictionary)

{'name': 'Ahmad', 'Age': '24', 'education': 'Masters'}

dict

#3.User defined data types

- Class (used in OOP (object oriented programming)



---



---



---

# 3.Variables

- **dynamic and static typing**
      Based on ability that whether we can change value assigned to one variable or not)
- **dynamic and static binding**
      based on the ability that whether we have to define which data we are going to store in a variable
      Wthether more than one data type is stored or not

In [ ]:
name='ahmad'
print(name)

ahmad

In [ ]:
name='waqas'
print(name)

waqas

In [ ]:
type(name)

str

##Different ways of using variables

In [ ]:
a=5;b=7;c=88
print(a)
print(b)
print(c)

5
7
88

In [ ]:
a,b,c=2,3,4
print(a)
print(b)
print(c)

2
3
4

In [ ]:
a=b=c=44
print(a)
print(b)
print(c)

44
44
44



---



---

# 4.Keywords

- Python keywords are special reserved words that have specific meanings and purposes and can't be used for anything but those specific purposes. These keywords are always availableâ€”you'll never have to import them into your code. Python keywords are different from Python's built-in functions and types.

- keywords must not be used as variables

In [ ]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
break = "string"

SyntaxError: invalid syntax (<ipython-input-7-a3e72bf6f33f>, line 1)



---

---

# 5.Identifiers
- Python Identifier is the name we give to identify a variable, function, class, module or other object. That means whenever we want to give an entity a name, that's called identifier. Sometimes variable and identifier are often misunderstood as same but they are not.
- variables and function names are typically lowercase with words separated by underscores (snake_case). Class names use CamelCase
- **keywords must not be used as identifiers**

In [ ]:
city_name="Rwalpindi"

In [ ]:
_underscore='city'
_underscore

'city'

In [ ]:
underscore_='city'
underscore_

'city'

In [ ]:
end_with_0='city'
end_with_0

'city'

In [ ]:
0_cannot_start_with_zero='city'
0_cannot_start_with_zero

SyntaxError: invalid decimal literal (<ipython-input-10-7a54c0a53a84>, line 1)

In [ ]:
ends_with_digit_66='city'
ends_with_digit_66

'city'

In [ ]:
with = 88

SyntaxError: invalid syntax (<ipython-input-61-801b336acab9>, line 1)



---

---

# 6.Taking user input

**Types of software**
- **Static** (user cannot interact. It is unidirectional. i.e clock)
- **Dynamic** (user can interact. It is biidirectional. i.e website like facebook and youtube where we can comment for example)

In [ ]:
first_num=input('enter first number')
second_num=input('enter second number')

enter first number44
enter second number55

In [ ]:
print(first_num)
print(second_num)

44
55

In [ ]:
type(first_num)

str

In [ ]:
first_num+second_num

'4455'



---



---

# 7.Type conversion
- **implicit** (programming languague done itself)
- **explicit** (we have to done ourself)

In [ ]:
first_num=int(input('enter first number'))
second_num=int(input('enter second number'))

enter first number44
enter second number22

In [ ]:
type(first_num)

int

In [ ]:
first_num+second_num

66



---



---

**Data range in python**

In [ ]:
2*1e222

2e+222

In [ ]:
1e308

1e+308

In [ ]:
1e309

inf



---

# 8.Literals

## 1.Numericals

### A. Integer

![image.png]()

**Octa integers**
- In Python, octal integers are represented by a leading "0o" prefix. The octal number `0o60` is composed of the octal digit `6` (which is equivalent to the decimal digit `6`) and `0` (which is equivalent to the decimal digit `0`). Therefore, `0o60` in octal is equivalent to the decimal number `6`. The octal prefix "0o" is used to distinguish octal literals from decimal literals in Python.

**hexadecimal vales**

In hexadecimal (base-16), each digit represents powers of 16. Let's break down the hexadecimal number `0x300` to understand how it becomes 768 in decimal (base-10):

- The rightmost digit `0` represents `0` in decimal.
- The middle digit `0` (to the left of the rightmost digit) also represents `0` in decimal.
- The leftmost digit `3` (to the left of the middle digit) represents `3 * 16^2` in decimal.

Now, calculate the value:

```
3 * 16^2 = 3 * 256 = 768
```

So, the hexadecimal number `0x300` is equivalent to the decimal number `768` because of the position of the digits and the base-16 representation.

In [ ]:
a=25 #Decimal integers
b= 0b1010 # Binary integers
c= 0o60 # Octa integers
d= 0x300 # Hexadecimal values
print(a,b,c,d)

25 10 48 768

##B.Float

In [ ]:
float_1=2.5
float_2= 4.4e-3
print(float_1,float_2)

2.5 0.0044

##C. Complex

In [ ]:
d= 9+5.7j
print(d , d.imag, d.real, sep='-')

(9+5.7j)-5.7-9.0

#2.String literals

https://docs.python.org/3/howto/unicode.html

**Explaination**
1. `unicode = '\U0001F600'`: This line assigns a Unicode character to the variable `unicode`. The Unicode escape sequence `\U0001F600` represents the emoji character "ðŸ˜€". The `U` in `\U` indicates that it's a Unicode escape sequence, and `0001F600` is the Unicode code point for the "ðŸ˜€" emoji.

2. `raw_string = r'raw\\n/p/string'`: This line assigns a raw string to the variable `raw_string`. In raw strings, a single backslash is treated literally, so to represent a single backslash, you need to use two consecutive backslashes. The string contains the characters "r", "a", "w", "\", "\", "n", "/", "p", "/", "s", "t", "r", "i", "n", "g".

In [ ]:
unicode= '\U0001F600'
raw_strings= r'raw\\n/p/string' # Using double backlashes for raw string
print(unicode,raw_strings)

ðŸ˜€ raw\\n/p/string

#3.Boolean

In [ ]:
a= True+5
b= False+3
print(a,b)

6 3

## 4.Special

- It is used when variable decleration is required but we donot assign any value to the variable. We just want to keep it in the code.

In [ ]:
a=None
print(a)

None



---



---

#9.Operators

"Operators are used to perform operations on variables and values". Python has the following operators:

- Arithmetic operators
- Comparison operators
- Logical operators
- Bitwise operators
- Assignment operators
- Identity operators
- Membership operators

##1.Arithmetic

In [ ]:
x=11
y=2
print(x+y)

13

In [ ]:
print(x-y)

9

In [ ]:
print(x*y)

22

In [ ]:
print(x/y)

5.5

In [ ]:
# Modulus (remainder after the division)
print(x%y)

1

In [ ]:
# Integer division (the one where the fractional part (remiander)is discarded)
print(x//y)

5

##2.Comparison

In [ ]:
print(x>y)

True

In [ ]:
print(x<y)

False

In [ ]:
print(x>=y)

True

In [ ]:
print(x<=y)

False

In [ ]:
print(x==y)

False

In [ ]:
print(x!=y)

True

#3.Logical

In [ ]:
x= False
y= True
print(x and y)

False

In [ ]:
print(x or y)

True

In [ ]:
print(not x)

True

## 4.Bitwise
It always works on binary values

![image.png]()

-  the result of x | y is 111 in binary, which is equivalent to 7 in decimal.

- The bitwise AND operation sets each bit in the result to 1 only if the corresponding bits in both x and y are 1. In this case, none of the bits have a common 1, resulting in 0

In [ ]:
x=2 #10
y=5 #101
print(x&y)

0

-  the result of x | y is 111 in binary, which is equivalent to 7 in decimal.

In [ ]:
print(x|y)

7

In [ ]:
print(~x)

-3

##5.Assignment (=)

In [ ]:
a=4
print(a)

4

In [ ]:
a+=3
print(a)

7

In [ ]:
a++=3

SyntaxError: invalid syntax (<ipython-input-10-703654289d06>, line 1)

##Identity (is)(is not)
- It is used to check whether two variables are present on same memory location OR NOT. Memory location does not depend on variables value means it does not matter whether they have same values or not.

In [ ]:
a=5
b=5
print(a is b)

True

In [ ]:
id(a)

132363044094320

In [ ]:
id(b)

132363044094320

In [ ]:
a=[1,2,3]
b=[1,2,3]
print(a is b)

False

In [ ]:
id(a)

138599078731584

In [ ]:
id(b)

138599078731200

##7.Membership (in) (not in)
- It is used to check whether one thing is present in other or not

In [ ]:
x= 'city'
print("z" not in x)

True

In [ ]:
x=[1,2,3]
print(2 in x)

True



---



---

#10. If/else statements and Identations

In [ ]:
email=input('write your email')
if '@' in email:
  password=input('write you password as well')
  if email == 'xyz@gmail.com'and password == '1234':
    print('welcome')
  elif email == 'xyz@gmail.com' and password != '1234':
    print('password incorrect')
    password= input('write your password again')
    if password == '1234':
      print('Finally correct')
    else:
      print('still incorrect')
  else:
    print("incorrect credentals")
else:
  print("emial is wrong write again")

write your emailxyzgmail.com
emial is wrong write again

https://www.regexlib.com/Search.aspx?k=email

We can use this website to import some regular expressions for email conditioning. Previously we were only specifying '@" sign but by using these expressions we can make sure that user should write the email in correct format.

In [ ]:
import re

email = input('write your email: ')

# Updated regex to validate the email format with stricter TLD validation
email_pattern = r'^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.(com|org|net|edu|gov)$'

if re.match(email_pattern, email):
    password = input('write your password as well: ')
    if email == 'xyz@gmail.com' and password == '1234':
        print('Welcome')
    elif email == 'xyz@gmail.com' and password != '1234':
        print('Password incorrect')
        password = input('Write your password again: ')
        if password == '1234':
            print('Finally correct')
        else:
            print('Still incorrect')
    else:
        print("Incorrect credentials")
else:
    print("Email is wrong, write again")

write your email: xyz@ggmail.com
write your password as well: 1234
Incorrect credentials

#11.While Loop
- When things needed to be done in a repeated manner.

## Table example

In [ ]:
number=int(input('enter the number'))
i=0
while i<10:
  i+=1
  print(number,'*',i,'=',number*i)

enter the number8
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

##Guessing game

In [ ]:
import random
jackpot=random.randint(1,100)
guess=int(input('make a guess'))
counter=1
while guess != jackpot:
  if guess < jackpot:
    print('think bigger number')
  else:
    print('think lesser number')
  guess=int(input('make a guess'))
  counter+=1
print('right answere')
print("you took", counter, "attempts")

make a guess50
think lesser number
make a guess25
think bigger number
make a guess40
think bigger number
make a guess45
think bigger number
make a guess47
think bigger number
make a guess49
think lesser number
make a guess48
right answere
you took 7 attempts

# 12.For loop
- it performs iteration(repetative process to generate outcome)on rangeor squence function.NO need to give terminate position or increment value.
- range fuction : It is used to grnerate integers in given range. 3 things can besend(star, stop, step)

In [ ]:
range(1,20)

range(1, 20)

In [ ]:
list(range(1,20))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [ ]:
list(range(5))

[0, 1, 2, 3, 4]

In [ ]:
list(range(1,50,5))

[1, 6, 11, 16, 21, 26, 31, 36, 41, 46]

In [ ]:
list(range(50,0,-5))

[50, 45, 40, 35, 30, 25, 20, 15, 10, 5]

In [ ]:
for i in range (1,30,4):
  print(i)

1
5
9
13
17
21
25
29

In [ ]:
for i in ("Pakistan/USA"):
  print(i)

P
a
k
i
s
t
a
n
/
U
S
A

## NESTED LOPS

"when loop is used witin the loop"

i.e to find friends of users in facebook....to find no of transections of customers in HBL

In [ ]:
country=['China','Pakistan','india','nepal']
for a in country:
  print(a)
  for b in a:
    print(b)

China
C
h
i
n
a
Pakistan
P
a
k
i
s
t
a
n
india
i
n
d
i
a
nepal
n
e
p
a
l

In [ ]:
rows=int(input('enter the number of rows'))
for i in range (1, rows+1):
  for j in range (0,i):
    print('*',end=' ')
  print('')

enter the number of rows10
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

**which loop is required? when we know the value of loop repitition then we used**
**FOR loop and WHILE loop othervise**.

# 13.Common Statements

##BREAK STATEMENT

- It is used to terminate loops under specific conditions.i.e linear searching (a linear search or sequential search is a method for finding an element within a list)

In [ ]:
for i in range (1,30):
  if i==11:
    break
  print(i)

1
2
3
4
5
6
7
8
9
10

##CONTINUE STATEMENT

- It is also used in loops.Here when that particular condition meet then only that particular code will not run.

In [ ]:
for i in range (1,10):
  if i==7:
    continue
  print(i)

1
2
3
4
5
6
8
9

##PASS STATEMENT
- (just to aviod the particular code)

In [ ]:
for i in range (1,10):
  pass



---

#14.Built in function
- A block of codes which provides output if we provide some input.

##1.print()
    To Write a statement within our python program

##2.input()
    To get the data from user

##3.type()
    It is used to predict the data type of variable

##4.type conversion
    To change the data type

## 5.absolute function
- The `abs()` function calculates the absolute value of a given number. If the number is a complex number, `abs()` returns its magnitude.

- The absolute value, represented as | x |, of a real number x is the non-negative value of x without considering its sign. For instance, the absolute value of 5 is 5, and the absolute value of âˆ’5 is also 5. Conceptually, the absolute value of a number can be seen as its distance from zero along the real number line.

**Maths Involved(Latex formatting)**

The absolute value of a complex number $a + bj$ is given by the formula:

$$|a + bj| = sqrt{a^2 + b^2}$$

In this case, for the complex number $4 + 4j$, where $a = 4$ and $b = 4$, the absolute value is calculated as follows:

$|4 + 4j|$ = $sqrt{4^2 + 4^2}$ = $sqrt{16 + 16}$ = $sqrt{32}$

In [ ]:
abs(88+47j)

99.76472322419383

In [ ]:
abs(5)

5

##6.power function

In [ ]:
pow(5,4)

625

##7.min/max function

In [ ]:
min(1,2,3,4)

1

In [ ]:
max(1,2,3,4)

4

In [ ]:
max('train') #lexiographical(alphabetical order)

't'

In [ ]:
min('train')

'a'

##8.round function

In [ ]:
a=22/7
round(a,2)

3.14

##9.divmod function
- The `divmod()` function in Python returns a pair of values, consisting of the quotient and the remainder, when dividing two numbers. It takes two arguments and returns a tuple of two values: the result of integer division and the remainder.

In [ ]:
divmod(10,3)

(3, 1)

## 10.bin/oct/hex function

In [ ]:
bin(82)

'0b1010010'

In [ ]:
oct(82)

'0o122'

In [ ]:
hex(82)

'0x52'

##11.ID function
-
The id() function in Python returns the identity of an object, which is a unique integer representing the object's memory address. Each object in Python has a distinct identity, and the id() function provides a way to access this unique identifier.

In [ ]:
b=44
id(b)

139010975139408

In [ ]:
a=44
id(a)

139010975139408

In [ ]:
a=444
id(a)

139010067860240

In [ ]:
d=[1,2,3]
b=[1,2,3]
id(d)

139009693878080

In [ ]:
id(b)

139009694024000

##12.ord function
- The ord() function in Python returns an integer representing the Unicode character. It takes a single character (a string of length 1) as an argument and returns the Unicode code point of that character.

In [ ]:
ord(' ')

32

##13.chr() function
-  chr() function returns a string representing a character whose Unicode code point is the integer.

In [ ]:
chr(97)

'a'

## 14.lenght function
- (Return the number of items in a container)

In [ ]:
len('we are learning python  ')

24

##15.sum function
- Return the sum of a 'start' value (default: 0) plus an iterable of numbers.When the iterable is empty, return the start value.

In [ ]:
# The sum function is reserved for the numerical literals
sum('we are learning python')

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
sum([22.88,33,44+8j,False])

(99.88+8j)

In [ ]:
sum((1,True))

2

In [ ]:
sum([])

0

##16.help

In [ ]:
help(pow)

Help on built-in function pow in module builtins:

pow(base, exp, mod=None)
    Equivalent to base**exp with 2 arguments or base**exp % mod with 3 arguments

    Some types, such as ints, are able to use a more efficient algorithm when
    invoked using the three argument form.



---



---

# 15.Built in modules
**What are modules?**

Consider a module to be the same as a code library.
A file containing a set of functions you want to include in your application.
Examples of python modules
- Math
- Random
- os
- time

## All built in modules in python
https://docs.python.org/3/py-modindex.html

##1.MATH

In [ ]:
import math

In [ ]:
math.cos(66)

-0.99964745596635

In [ ]:
math.sqrt(456)

21.354156504062622

In [ ]:
math.cosh(567)

8.789036002598174e+245

In [ ]:
math.exp(44)

1.2851600114359308e+19

##2.RANDOM

In [ ]:
import random

In [ ]:
random.randint(1,25)

18

In [ ]:
a=[1,5,66,77,88]
random.shuffle(a)
print(a)

[77, 66, 88, 1, 5]

##3.OS
- The os module in Python provides a way to interact with the operating system. It offers a range of functions to perform tasks such as file and directory operations, process management, and environment variables

In [ ]:
import os

In [ ]:
# Get the current working directory
os.getcwd()

'/content'

In [ ]:
# Get the current working data base
os.getcwdb

In [ ]:
os.listdir()

['.config', 'sample_data']

##4.TIME

In [ ]:
import time

In [ ]:
time.ctime()

'Sat Aug 24 15:32:23 2024'

- The time.time() function in Python is used to get the current time in seconds since the epoch. The "epoch" is a predefined point in time, typically the start of the year 1970, and the return value of time.time() is the number of seconds that have elapsed since that epoch.

In [ ]:
time.time()

1724513566.2211032

In [ ]:
%time
print("helo world")

CPU times: user 3 Âµs, sys: 1 Âµs, total: 4 Âµs
Wall time: 7.63 Âµs
helo world

In [ ]:
print("we",end=('  '))
time.sleep(5)
print("are",end=('  '))
time.sleep(2)
print("learning",end=('  '))
time.sleep(2)
print("the",end=('  '))
time.sleep(2)
print("python",end=('  '))

we  are  learning  the  python




---


---