- How to cretae?
- Indexing and slicing
- Editing and addition
- Deletion
- Operations
- Functions

#16.STRING
- Strings are sequence of Uni code Characters
- In Python specifically, strings are a sequence of Unicode Characters
- NORMALLY USED IN APPLICATION PROGRAMMING LAUNGUAGE WHERE YOU HAVE TO TALK WITH USER.

##creating a string

In [ ]:
print('hello',"hello","""hello""",'''hello''')

hello hello hello hello

In [ ]:
print("Temitope",'Sanni')

Temitope Sanni

In [ ]:
d=12
type(d)

int

In [ ]:
d=str(12)
type(d)

str

##Accessing substrings from string (INDEXING AND SLICING)

- The positive indexing starts from 0 and negative indexing starts from -1

###1. positive indexing

In [ ]:
g="hello"
print(g)

hello

In [ ]:
g[4]

'o'

In [ ]:
# we cannot provide index that is out of the range
g[10]

IndexError: string index out of range

###2.negative indexing

In [ ]:
g

'hello'

In [ ]:
g[-1]

'o'

###3.slicing concept

- To fetch the number of unicode charaters froma particular string you just have to provide one indexinging position higher than required

- The out of range indexing will not give an error in case of slicing

In [ ]:
g= 'hello world'

In [ ]:
g[0:10]

'hello'

In [ ]:
print(g[3:])

lo world

In [ ]:
print(g[:3])

hel

In [ ]:
print(g[:])

hello world

In [ ]:
# every 3rd element is printed out
print(g[0:10:2])

hlowr

In [ ]:
g[::-1]

'dlrow olleh'

## EDITING,ADDITION AND DELETING STRINGS

##Mutagenecity (access to change or modify the information present in a specific data structure"

- 1.Immutable data types (strings and tuples)
- 2.mutable data types (all other data types)

###editing

In [ ]:
g=('hello')
print(g)

hello

In [ ]:
g[4]='p'

TypeError: 'str' object does not support item assignment

In [ ]:
g[0]=d
# Strings are immutable data types (not editable)
# Addition is also not possible for the same reason

TypeError: 'str' object does not support item assignment

In [ ]:
g=("world")
print(g)

world

###delete

- We can delete the whole string but not its subparts

In [ ]:
del g

In [ ]:
print(g)

NameError: name 'g' is not defined

In [ ]:
g=['element']
del g[2]

IndexError: list assignment index out of range

##STRING OPERATIONS

###1.Arithmetic

####(a). string concatenation(addition)

In [ ]:
"Ahmad" + ' '+ "Hassan"

'Ahmad Hassan'

####(b)strings multiplication

In [ ]:
print('stop'*10)

stopstopstopstopstopstopstopstopstopstop

In [ ]:
print("*"*100)

****************************************************************************************************

###2.Relational/Comparison

- If two different strings present then lexiographical addition will happen
- If same strings are present then order of index matters

In [ ]:
'true'=='eutr'

False

In [ ]:
'false'!='true'

True

In [ ]:
'adfg' == 'fgda'

False

In [ ]:
"hello">'world'

False

In [ ]:
'true'=='true'

True

###3.logical

- For logical operation on strings any written string will be considered as 1 and empty string will be considered as 0

In [ ]:
'world'and'hello'

'hello'

In [ ]:
" "and"hello"

'hello'

In [ ]:
""or"hello"

'hello'

In [ ]:
not " "

False

###4.Loops on strings

In [ ]:
j='hello world'
for p in j[::-1]:
  print(p)

d
l
r
o
w

o
l
l
e
h

###5.Membership (in) (not in)

- It is used to check whether one thing is present in other or not

In [ ]:
x= 'ahmed'
print('d'in x)

True

## FUNCTIONS ON STRINGS

###Common Functions(apply on any iterable)

In [ ]:
len('ahmed  ')

7

In [ ]:
max('ahmad')

'm'

In [ ]:
min('ahmad')

'a'

In [ ]:
sorted("ahmad hassan")

[' ', 'a', 'a', 'a', 'a', 'd', 'h', 'h', 'm', 'n', 's', 's']

In [ ]:
sorted("ahmad hassan",reverse=True)

['s', 's', 'n', 'm', 'h', 'h', 'd', 'a', 'a', 'a', 'a', ' ']

###Function apply on only strings

####1.Capitalize/Title/Upper/Lower/Swapcase

In [ ]:
d="we are learning Python"

In [ ]:
d.capitalize()

'We are learning python'

In [ ]:
d.title()

'We Are Learning Python'

In [ ]:
d.upper()

'WE ARE LEARNING PYTHON'

In [ ]:
d.lower()

'we are learning python'

In [ ]:
d.swapcase()

'WE ARE LEARNING pYTHON'

####2.COUNT

In [ ]:
d

'we are learning Python'

In [ ]:
d.count('are')

1

In [ ]:
d.count('a')

2

####3.FIND/INDEX
-
In Python, the find() method is used to locate the index of a substring within a string. The index is the position of the first occurrence of the substring in the string.

In [ ]:
d

'we are learning Python'

In [ ]:
d.find('a')

3

In [ ]:
d="we are learning Python"
d.find("learning")

7

In [ ]:
d.index("Python")

16

In [ ]:
d.find("going")

-1

In [ ]:
d.index('going')

ValueError: substring not found

####4.ENDS WITH/STARTS WITH

In [ ]:
d

'we are learning Python'

In [ ]:
d.endswith('Python')

True

In [ ]:
d.startswith('we')

True

####5.FORMAT

In [ ]:
"the basket contains {} and {}".format("fruits",'vegetables')

'the basket contains fruits and vegetables'

In [ ]:
"the basket contains {1} and {0}".format("fruits",'vegetables')

'the basket contains vegetables and fruits'

In [ ]:
"the basket contains {two} and {one}".format(one="fruits",two='vegetables')

'the basket contains vegetables and fruits'

####6.isalnum/ isalpha/ isdecimal/ isdigit/ isidentifier

In [ ]:
"city66".isalnum()

True

In [ ]:
"city".isalpha()

True

In [ ]:
'3'.isdecimal()

True

In [ ]:
"40j".isdigit()

False

In [ ]:
d

'we are learning Python'

In [ ]:
"0_d".isidentifier()

False

####7.SPLIT

In [ ]:
"he is going to university".split()

['he', 'is', 'going', 'to', 'university']

In [ ]:
"he is going to university".split('i')

['he ', 's go', 'ng to un', 'vers', 'ty']

####8.JOIN(OPPOSITE TO SPLIT)

- The output of a split function can be used as an input of a join function

In [ ]:
' '.join(['he', 'is', 'going', 'to', 'university'])

'he is going to university'

####9.REPLACE

In [ ]:
"he is going to university".replace("university","School")

'he is going to School'

####10.STRIP

In [ ]:
# This is called as trailing space
name = "ahmad                "
name

'ahmad                '

In [ ]:
name.strip()

'ahmad'



---



---

#Container Data types

- The datatypes where we can **store multiple basic types** regardless of the fact that they are same or different!

#17.List

**where you can store data**

different from "arrays"like

- here data is hetrogenous while in arrays data type is homogenous.

- IN arrays data is stored in continuos memory location while in list not

- Arrays are faster.

- List are more programmer friendly.

##Create list

- Strings =>  chains of unicode characters
- Container datatypes => combination of individual elemensts

In [ ]:
# a.homogenous list
x = ['string']
type(x)

list

In [ ]:
# a.homogenous list (integers are present only)
x=[1,2,3,4,5]
print(x)

[1, 2, 3, 4, 5]

In [ ]:
# hetrogenous list
x=[1,'string',True,False,3.5,3+7j]
print(x)

[1, 'string', True, False, 3.5, (3+7j)]

In [ ]:
#multidimensional list
#2D
x=([1,2,3,[2,3,4]])
print(x)

[1, 2, 3, [2, 3, 4]]

In [ ]:
#3D list
x=[[[2,3,45,5],[2,3,4],[2,3,4]]]
print(x)

[[[2, 3, 45, 5], [2, 3, 4], [2, 3, 4]]]

In [ ]:
#type conversion
x=list("i will go to australia")
print(x)

['i', ' ', 'w', 'i', 'l', 'l', ' ', 'g', 'o', ' ', 't', 'o', ' ', 'a', 'u', 's', 't', 'r', 'a', 'l', 'i', 'a']

In [ ]:
x=list()
type(x)

list

In [ ]:
x=""
type(x)

str

##ACCESSING

It is same as strings.only diff in multidimensional lists!

In [ ]:
x=['o-index','1-index','2-index','3-index','4-index']
x[-2]

'3-index'

In [ ]:
x=[1,2,3,[888,33,44]]
x[3][0]

888

In [ ]:
x=[[[2,3,45,5],[22,33,87],[21,39,4444]]]
x[0][1][2]

87

##EDITING

(LISTS ARE MUTABLE UNLIKE STRINGS)

In [ ]:
X=[1,23,44,55,6]
X[2]=200
X

[1, 23, 200, 55, 6]

In [ ]:
X=[1,23,44,55,6]
X[2:5]=[22,33,88]
X

[1, 23, 22, 33, 88]

##ADDITION
- 1.APPEND
- 2.EXTEND
- 3.INSERT

**Appen vs extend**

- Append can increse dimentionality while extend cannot
- Append can add both iterable and non iterable data types while extend only supports iterable types.

In [ ]:
#append
X=[1,23,44,55,6]
X.append(333)
X

[1, 23, 44, 55, 6, 333]

In [ ]:
X.append([333,3,876])
X

[1, 23, 44, 55, 6, 333, [333, 3, 876]]

In [ ]:
#extend (here the dimentionality of data type remains same)
X.extend([2222,333,4444])
X

[1, 23, 44, 55, 6, 333, [333, 3, 876], 2222, 333, 4444]

In [ ]:
y=[1,2,3]
y.extend([4,5,6])
y

[1, 2, 3, 4, 5, 6]

In [ ]:
X.extend('string')
print(X)

[1, 23, 44, 55, 6, 333, [333, 3, 876], 2222, 333, 4444, 3, 's', 't', 'r', 'i', 'n', 'g']

In [ ]:
#insert (here we can add more than 1 element at the same time)
x=[1,2,3,45,5]
x.insert(3,"hello")
x

[1, 2, 3, 'hello', 45, 5]

##DELETE
- DEL
- REMOVE
- POP
- CLEAR

In [ ]:
#del
x=[1,23,44,55,6,5,66,77]
del x [3]
x

[1, 23, 44, 6, 5, 66, 77]

In [ ]:
del x [2:5]
x

[1, 23, 66, 77]

In [ ]:
#remove
x=[2,3,4,566,77,88,999,9,999]
x.remove(88)
x

[2, 3, 4, 566, 77, 999, 9, 999]

In [ ]:
#pop (it will delete the last element)
x.pop()
x

[2, 3, 4, 566, 77]

In [ ]:
#clear (all elements will be deleted)
x.clear()
x

[]

##OPERATIONS ON LIST

##1.Arithmetic

In [ ]:
#addition (concatenation concept is applied)
x=[1,2,3,4,5]
y=[6,7,8,9]
x+y

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#multiplication
x*5

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

**2.LOOP**

In [ ]:
for i in x:
  print(i)

1
2
3
4
5

**3.membership**

In [ ]:
x=[1,22,3,[2,3,44]]
[44] in x

False

In [ ]:
for i in x:
  print(i)

1
2
3
[2, 3, 44]

In [ ]:
22 in x

True

##FUNCTIONS ON LISTS

In [ ]:
x

[1, 22, 3, [2, 3, 44]]

In [ ]:
1#LEN
len(x)

4

In [ ]:
# 2.max
x=[11,2.2,333]
max(x)

333

In [ ]:
3#min
min(x)

2.2

In [ ]:
4#sorted
sorted(x)

[2.2, 11, 333]

In [ ]:
sorted(x,reverse=True)
#it is temporary operation

[333, 11, 2.2]

In [ ]:
x

[11, 2.2, 333]

In [ ]:
x.sort(reverse=False)
x
#it is a permanenet operation

[2.2, 11, 333]



---



---

#18.Tuples

##create tuples

- a.homogenous/hetrogenous tuples  
- 2D...3D tuples
- type conversion can be done as well

In [ ]:
x=(1,2,4,5,6,(7,88,9))
type(x)

tuple

In [ ]:
x=tuple('dellos')
type(x)

tuple

In [ ]:
#only difference is in creating a single item tuple
x=tuple('a')
type(x)

tuple

In [ ]:
# 2 items tuple can be generated
x=("e",'t')
type(x)

tuple

In [ ]:
x=(1)
type(x)

int

In [ ]:
x=(1,2)
type(x)

tuple

##ACCESSING
- It is exactly same as lists

##Editing
- THEY ARE LIKE STRINGS AND ARE IMMUTABLE

##ADDING
- NOT POSSIBLE AS THEY ARE IMMUTABLE

##DELETING

- JUST LIKE STRINGS THAT WE CAN COMPLETELY DELETE THE TUPLE BUT NOT ITS SUB PARTS

##OPERATIONS
- SAME LIKE Lists

##FUNCTIONS

- SAME LIKE LISTS

- The tuplles are **READ ONLY** data types and **not** **WRITE type**...Thats why when integrity of data is to be ensured then we used tuples!



---



---

#19.SETS

(basic rules)
- 1.Sets donot allow duplicates
- 2.Sets have no indexing/slicing
- 3.Sets donot allow mutable data types
- 4.Sets itself is a mutable data type

##1.CREATE

In [ ]:
# all of these are immutable data types
x={1,1.5,False,4+7j,'string',(1,2,3)}
x
type(x)

set

In [ ]:
# You cannot create an empty sets
X={}
type(X)

dict

In [ ]:
# Empty sets are not possible even with data conversion
x=set{}
type(x)

SyntaxError: invalid syntax (<ipython-input-134-9e5cdba40f53>, line 2)

In [ ]:
#homogenous
x={1,2,3,4,5}
#hetrogenous
x={1,2,3,4,"string",False,4.5,4+7j}
x

{(4+7j), 1, 2, 3, 4, 4.5, False, 'string'}

In [ ]:
#1st rule proved(Sets donot allow duplicates)
x={1,1,1,1,1,1,2,2,3,3}
x

{1, 2, 3}

In [ ]:
len(x)

3

In [ ]:
# rule no 3 proved (Sets donot allow mutable data types)
x={{1,2,3}}

TypeError: unhashable type: 'set'

In [ ]:
x={3,{4}}
# rule no 4 is proved (sets are mutable data type itself)

TypeError: unhashable type: 'set'

In [ ]:
x={(1,2,4),"hello",(2,3,4,5),"string","ghost"}
x
#order is not proper..2nd rule is proved(Sets have no indexing/slicing)

{(1, 2, 4), (2, 3, 4, 5), 'ghost', 'hello', 'string'}

##ACCESSING
(not possible)

In [ ]:
x={1,2,3,4,5,6}
x[3]
#rule no 2
#indexing,slicing dont work

TypeError: 'set' object is not subscriptable

##EDITING
(not possible)

- The edition here not possible not because of immuatbility but because of the absece of indexing concept

In [ ]:
x={1,2,3,4,5,6}
x[3]= 22
#rule no 2
#indexing,slicing dont work

TypeError: 'set' object does not support item assignment

##ADDING

In [ ]:
# Proved that they are mutable datatypes
x={1,2,3,4}
x.add('d')
x

{1, 2, 3, 4, 'd'}

##DELETE

In [ ]:
#del(it works on whole set but not on individual items as there is no indexing)
#remove
x.remove(4)
x

{1, 2, 3, 'd'}

In [ ]:
#pop
x.pop()
x
#again because of no indexing,here is the concept of 'hashing'
# Normally dont prefer for deletion

{2, 3, 'd'}

In [ ]:
x.clear()
x

set()

##SETS OPERATIONS

**1.ADDITION AND MULTIPLICATION NOT POSSIBLE HERE**

In [ ]:
x={1,2,3,4,5,67,66}
y={55,76,88,33,22,11}
x+y

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [ ]:
x*y

TypeError: unsupported operand type(s) for *: 'set' and 'set'

**2.loop**

In [ ]:
for i in x:
  print(i)

1
2
3
4
5
67
66

**3. membership**

In [ ]:
x

{1, 2, 3, 4, 5, 66, 67}

In [ ]:
44 in x

False

##FUNCTIONS ON SETS
- LEN
- MIN/MAX(NUMERICAL DATA TYPE)
-SORTED(REVERSE=TRUE)
-SUM

**FUNCTIONS SPECIFIC TO SETS**

In [ ]:
x={1,1,1,1,4,5,77,8,66}
y={33,55,77,88,66}
z={22,4,5,55}
x.union(y)

{1, 4, 5, 8, 33, 55, 66, 77, 88}

In [ ]:
x.intersection(y)

{66, 77}

In [ ]:
x.difference(y)

{1, 4, 5, 8}

The set which contains the elements which are either in set A or in set B but not in both is called the symmetric difference between two given sets. It is represented by A  B and is read as a symmetric difference of set A and B

In [ ]:
x.symmetric_difference(y)

{1, 4, 5, 8, 33, 55, 88}

The sets are called disjoint if there are no common elements between the two sets.

In [ ]:
x.isdisjoint(y)

False

In [ ]:
x={1,2,3}
y={1,2,3,4,5}

In [ ]:
x.issubset(y)

False

**SET vs SUPERSET**

A subset of a set A is any set B such that every element of B is also an element of A. A strict subset is a subset that isn't equal to the original set (i.e. B must have at least one fewer element than A). A superset of A is any set C such that A is a subset of C.

In [ ]:
y.issuperset(x)

False



---



---

#20.Dictionary

**DICTIONARY(BASIC RULES)**
- 1.IT HAS NO INDEXING
- 2.IT IS A MUTABLE DATA TYPES
- 3.KEYS = ALWAYS IMMUTABLE,VALUES= CAN BE MUTABLE
- 4.KEYS SHOULD BE UNIQUE

##CREATE

In [ ]:
x={}
type(x)

dict

In [ ]:
x={"name":'ahmad',"age":"22","sex":"male"}
x

{'name': 'ahmad', 'age': '22', 'sex': 'male'}

In [ ]:
x={'age':"22"}
x

{'age': '22'}

In [ ]:
x={("age"):[22]}
x
#hence it proves that keys should always be immutable and not mutable like lists,dic,sets

{'age': [22]}

In [ ]:
x={"name1":"ahamd","name2":"ajmal"}
x
#keys always be unique,if used same then only recent one used will be interpreted

{'name1': 'ahamd', 'name2': 'ajmal'}

In [ ]:
#2D dictionary
x={"name":"ahmad","uni":"xyz","marks":{"s1":23,"s2":33,"s3":44}}
x

{'name': 'ahmad', 'uni': 'xyz', 'marks': {'s1': 23, 's2': 33, 's3': 44}}

##ACCESSING
BECAUSE THHERE IS NO INDEXING/SLICING THUS WE CAN ACCESS VALUES BY ONLY PROVIDING CORRECT KEYS.

In [ ]:
x={"name":"ahmad","age":"22","sex":"male"}
x[1]
#thus dictionary has no indexing

KeyError: 1

In [ ]:
x["name"]

'ahmad'

In [ ]:
x={"name":"ahmad","uni":"qau","marks":{"s1":23,"s2":33,"s3":44}}
x["marks"]['s1']

23

##EDITING
JUST LIKE ACCESSING BY PROVIDING CORRECT KEY

In [ ]:
x={"name":"ahmad","age":"22","sex":"male"}
x["name"]="Dammy"
x

{'name': 'Dammy', 'age': '22', 'sex': 'male'}

In [ ]:
x={"name":"ahmad","uni":"qau","marks":{"s1":23,"s2":33,"s3":44}}
x["marks"]["s1"]=66
x

{'name': 'ahmad', 'uni': 'qau', 'marks': {'s1': 66, 's2': 33, 's3': 44}}

##ADDING

In [ ]:
x={"name":"ahmad","age":"22","sex":"male"}
x["adress"]="rwp"
x

{'name': 'ahmad', 'age': '22', 'sex': 'male', 'adress': 'rwp'}

In [ ]:
x={"name":"ahmad","uni":"qau","marks":{"s1":23,"s2":33,"s3":44}}
x["marks"]["s4"]=88
x

{'name': 'ahmad',
 'uni': 'qau',
 'marks': {'s1': 23, 's2': 33, 's3': 44, 's4': 88}}

##DELETE

In [ ]:
x1={}
del[x1]
x1

NameError: name 'x1' is not defined

In [ ]:
x={"name":"ahmad","age":"22","sex":"male"}
del x["age"]
x

{'name': 'ahmad', 'sex': 'male'}

In [ ]:
x={"name":"ahmad","uni":"qau","marks":{"s1":23,"s2":33,"s3":44}}
del x["marks"]["s1"]
x

{'name': 'ahmad', 'uni': 'qau', 'marks': {'s2': 33, 's3': 44}}

In [ ]:
# it will remove all the key value base pairs and gives empty dic in the output
x.clear()
x

{}

In [ ]:
# It does not have indexing
x={"name":"ahmad","uni":"qau"}
x.pop()
x

TypeError: pop expected at least 1 argument, got 0

##OPERATIONS ON DICTIONARY

**1. addition and multiplication**

In [ ]:
x={"name":"ahmad","age":"22","sex":"male"}
y={"name":"ahmad","uni":"qau","marks":{"s1":23,"s2":33,"s3":44}}
x+y

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [ ]:
x*y

TypeError: unsupported operand type(s) for *: 'dict' and 'dict'

**2. for loops**

In [ ]:
x

{'name': 'ahmad', 'age': '22', 'sex': 'male'}

In [ ]:
for i in x:
  print(i)

name
age
sex

**3. membership**

In [ ]:
x={'name': 'ahmad', 'age': '22', 'sex': 'male'}
"ahmad" in x

False

In [ ]:
"age" in x
#in dic membership only identify the keys not values

True

##FUNCTIONS ON DICTIONARY

- LEN
- MIN/MAX(NUMERICAL DATA TYPE)
-SORTED(REVERSE=TRUE)

##Functions only for dictionaries

In [ ]:
x.keys()

dict_keys(['name', 'age', 'sex'])

In [ ]:
x.values()

dict_values(['ahmad', '22', 'male'])




---



---



---



---


---